body {
    font-family: MyRobotoRegular, sans-serif;
}

@font-face {
    font-family: MyRobotoRegular;
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MyRobotoRegular;
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.canvas-container {
    text-align: center;
    & canvas {
        width: 800px;
        height: 500px;
        margin: auto;
        border: 1px solid #CCC;
        &.active {
            border-color: limegreen;
        }
    }
}
